:root {
    --cf-dark: #212121;
    --cf-light: #ebebeb;
    --cf-darkblue: #00223d;
    --cf-highlight: #fae100;
}


html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url("/img/LandingPage_576.png");
    background-position: top center;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    background-color: var(--cf-darkblue);
}

.my-nav-bar {
    color: var(--cf-light) !important;
}

.nav-item a {
    color: var(--cf-light)
}

.nav-item a:hover {
    color: var(--cf-highlight) !important;
}

.bg-warning {
    background-color: var(--cf-highlight);
    border-color: var(--cf-highlight);
}



.main-title {
    font-family: 'Racing Sans One', cursive;
    font-size: 2.5rem;
    line-height: 2rem;
}

.subtitle {
    font-family: 'Fira Sans', sans-serif;
    font-size: .95rem;
    font-weight: 200;
    letter-spacing: .06rem;
}

.content {
    flex: 1 0 auto;
}

/* Minimum size and up */
.footer {
    flex-shrink: 0;
}

#cta-container {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}



@media (min-width: 576px) {
    body {
        background-image: url("/img/LandingPage_768.png");
        background-position: top right;
        background-repeat: no-repeat;
    }


    .main-title {
        font-size: 3.5rem;
        line-height: 3rem;
    }

    .subtitle {
        font-size: 1.3rem;
        font-weight: 200;
        letter-spacing: .1rem;
    }

    #cta-container {
        padding-bottom: 3rem;
    }




}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {


    body {
        background-image: url("/img/LandingPage_992.png");
        background-position: top right;
    }

    #cta-container {
        justify-content: start;
        align-items: center;
        padding-bottom: 0;
    }


}


/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        background-image: url("/img/LandingPage_1200.png");

    }

}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {
        background-image: url("/img/LandingPage_1400.png");

    }

    #cta-container {
        padding-left: 3rem;
    }

}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    body {
        background-image: url("/img/LandingPage_1920.png");
        background-size: cover;

    }

    .main-title {
        font-size: 3.5rem;
        line-height: 3rem;
    }

    .subtitle {
        font-size: 2rem;
        font-weight: 200;
        letter-spacing: .065rem;
    }

}